.recognizepage-origin-img {
    height: 350px;
    transform: rotate(-90deg);
}

.recognize-page {
    overflow-x: hidden;
    /*-webkit-perspective: 1000px;*/
    /*perspective: 1000px;*/
    -webkit-overflow-scrolling: touch;
    perspective: 1000px;
    perspective-origin: 50% 10%;
}

.recognize-title {
    padding: 15px;
}

.recognize-title.scanning {
    display: none;
}

.recognize-info {
    position: absolute;
    bottom: 80px;
    left: 15px;
    right: 15px;
}

.recognize-info.scanning {
    display: none;
}

.recognize-buttons {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

.recognize-buttons.scanning {
    display: none;
}

.recognize-sample {
    position: absolute;
    bottom: 180px;
    left: 0px;
    right: 0px;
    opacity: 0;
    transition: .5s;
    z-index: 10;
}

.recognize-sample.complete {
    opacity: 1;
}

.recognize-sample .weui-cell {
    font-size: 12px;
}

.inv-anim {
    box-sizing: border-box;
    transition: .5s;
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 100px;
    left: 10px;
    right: 10px;
    height: 350px;
    opacity: 1;
    transition: .5s;
}

.inv-anim.scanning {
    display: none;
}

.inv-anim.complete {
    top: 30px;
}

.inv-anim .anim-elem {
    position: absolute;
    left: 50%;
    border: 1px solid hsla(0, 0%, 80%, .5);
    transition: .5s;
    background-size: contain;
    box-sizing: border-box;
    overflow: hidden;

    /*height: 250px;*/
    /*width: 150px;*/
    /*margin-left: -75px;*/
}

.anim-elem.layer-2 {
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    opacity: 1;
}

.anim-elem.layer-2.transform {
    transform: translateX(0px) rotateX(56deg) rotate(-25deg) skew(15deg) translateZ(-100px);
    opacity: 1;
}

.inv-anim.complete .anim-elem.layer-2.transform {
    transform: translateY(45px);
}

.layer-2-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 255, 0, 0.5);
}

.anim-elem.layer-3 {
    transform: translateX(0px) rotateX(56deg) rotate(-25deg) skew(15deg) translateZ(-100px);
    background-color: rgba(0, 114, 210, .5);
    z-index: 3;
    opacity: 0;
}

.anim-elem.layer-3.transform {
    transform: translateX(0px) rotateX(56deg) rotate(-25deg) skew(15deg) translateZ(-60px);
    z-index: 3;
    opacity: 1;
}

.inv-anim.complete .anim-elem.layer-3.transform {
    transform: translateY(40px) translateX(6px);
}

.anim-elem.layer-4 {
    transform: translateX(0px) rotateX(56deg) rotate(-25deg) skew(15deg) translateZ(-60px);
    background-color: rgba(51, 51, 51, .7);
    z-index: 4;
    opacity: 0;
}

.anim-elem.layer-4.transform {
    transform: translateX(0px) rotateX(56deg) rotate(-25deg) skew(15deg) translateZ(-20px);
    opacity: 1;
}

.inv-anim.complete .anim-elem.layer-4.transform {
    transform: translateY(35px) translateX(12px);
}

.inv-anim .origin-img {
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
}

.roi-rect {
    position: absolute;
    opacity: 0.6;
    box-shadow: -3px 3px 3px grey;
    background: black;
}

.roi-rect-text {
    font-size: 8px;
    line-height: 8px;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
}

.clipped-img {
    height: 148px;
    width: 248px;
    transform: rotate(-90deg) translateX(-50px) translateY(-50px);
}

.inv-scanner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: .5s;
    opacity: 0;
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.inv-scanner.scanning {
    opacity: 1;
}

@-webkit-keyframes scan {
    /*100% {*/
    /*background-position: 25% center;*/
    /*}*/
    from {
        top: 0%;
    }
    to {
        top: 100%;
    }
}

.inv-scanner-overlay {
    /*background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 10%, rgba(0, 255, 0, 0.6) 12%, rgba(0, 0, 0, 0) 14%);*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 255, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
    /* width: 100%; */
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.inv-scanner.scanning .inv-scanner-overlay {
    -webkit-animation: scan 3s infinite ease;
}

.inv-scanner-title {
    color: Black;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 16px;
    bottom: 60px;
    background: rgba(255, 255, 255, 0.6);
}

.inv-scanner-polygon {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgb(0, 255, 0);
    opacity: 0;
    transition: .5s;
}

.inv-scanner.show-polygon .inv-scanner-polygon {
    opacity: 0.5;
}

.inv-scanner-detect-name {
    font-size: 14px;
    color: White;
    position: absolute;
    top: 35%;
    left: 15%;
    right: 15%;
    padding: 15px 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.inv-scanner.show-polygon .inv-scanner-detect-name {
    display: block;
}